.chat__name{
    white-space: nowrap;
    position: absolute;
    top: -15px;
    font-weight: 700;
    font-size: xx-small;
}

.chat__timestamp{
    font-size: xx-small;
    @apply mx-1 opacity-60 font-semibold;
}

.mozilla-fit-content{
    width: -moz-fit-content;
}