html{
    scroll-behavior: smooth;
}

.home-intro{
    height: calc(100vh - 80px);
    color: white;
    background: #6E9ECC;
}

.home-intro__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15%;
}
.home-intro__content{
    max-width: 50%;
}

.home-intro__content-title{
    font-size: calc(2.6rem + 1.6vw);
    font-weight: bold;
    text-shadow: 5px 5px 0px #000;
}

.home-intro__content p{
    font-size: calc(1.1rem + 0.4vw);
    font-weight: 300;
    opacity: 0.7;
}

.home-intro__content a{
    color: white;
    text-decoration: none;
}

.home-intro__content button{
    cursor: pointer;
    color: white;
    margin-top: 30px;
    margin-right: 13px;
    padding: 18px 34px;
    font-size: 1.15rem;
    border: 1px solid;
    background-color: transparent;
}

.home-intro__content button:hover{
    border: none;
    background: #6da8e1;
    transition: ease-in-out 0.2s;
}

.home-intro__image{
    min-width: 50%;
}

.home-about{
    background: white;
}

.home-about__heading{
    padding-top: 8vh;
    color: #084987;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}

.home-about__container{
    display: flex;
    align-items: center;
    padding: 25px 12%;
    padding-bottom: 50px;
}

.home-about__content{
    max-width: 43%;
}

.home-about__content p {
    margin-left: 25%;
    max-width: 70%;
    line-height: 25px;
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 400;
}

.home-about__image{
    min-width: 57%;
}

.home-team{
    background: #e5e5e5;
}

.home-team__heading {
    padding-top: 6vh;
    color: black;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}

.home-team__container{
    display: flex;
    padding: 25px calc(15% + 5vw);
    padding-bottom: 50px;
}

.home-team__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    padding-top: 25px;
}

.home-team__card-pic{
    border-radius: 100%;
    object-fit: contain;
    height: calc(200px + 5vw);
    width: calc(200px + 5vw);
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
}

.home-team__card h2{
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 20px;
    border-bottom: 1px solid white;
}

.home-team__card p{
    margin-bottom: 10px;
    line-height: 1.5;
}

.home-team__card a{
    color: black;
}

.home-team__card i{
    object-fit: contain;
}

#profPic1{
    background-image: url("https://static1.s123-cdn-static-a.com/uploads/5219948/800_60a3aaaf2fc5c_filter_60a3aaf59e482.jpg");
}

#profPic2{
    background-image: url("https://static1.s123-cdn-static-a.com/uploads/5219948/800_60a250ac2c72a.jpg");
}

.home-team__card-bio{
    text-align: center;
}

.home-universities{
    height: 150vh;
    background: white;
}
.home-launch{
    height: 150vh;
    background: #e5e5e5;
}

@media screen and (min-width: 960px) {
    .home{
        display: flex;
        flex-flow: column;

    }
    .home section{
        order: 10; /*This solution might cause problems when I start adding more divs later.*/
    }
    .navbar{
        order:2 !important;
    }
    .home-intro{
        order: 1 !important;
    }
}

@media (max-width: 767px){
    .home-intro__container{
        display: flex;
        flex-direction: column;
        align-items: normal;
        padding: 0;
        padding-left: 12%;
        padding-right: 5%;
    }

    .home-intro__content{
        max-width: 80%;
        margin-bottom: 25px;
    }

    .home-intro__button-container{
        display: flex;
    }

    .home-intro__content button{
        border-radius: 5px;
        padding: 10px;
    }

    .home-about__container{
        flex-direction: column;
        padding-top: 15px; 
        padding-left: 4%;
        padding-right: 4%;
    }
    .home-about__content{
        max-width: 100%;
    }
    .home-about__content p{
        margin-left: 0%;
        max-width: 100%;
    }
    .home-about__image{
        min-width: 80%;
    }

    .home-team__container{
        flex-direction: column;
    }
}

/* Queries for height for certain shorter iphones */
@media (max-height: 568px){
    .home-intro{
        height: auto;
        padding-bottom: 50px;
    }
}