.mentorShowcase{
    max-width: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    border-right: solid pink 1px;
    @apply p-3 m-2 shadow-lg rounded-md bg-white;
}